@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>

<address>
    Uniwersytet Zielonogórski<br />
    Tomasz Jankowski<br />
    <a href="mailto:tomaszjankowski90@gmail.com">tomaszjankowski90@gmail.com</a>
</address>
