@{
    ViewBag.Title = "System Ewidencjonowania AR";
}

<div class="jumbotron">
    <h1>System Ewidencjonowania - Apator Rector</h1>
    <p class="lead">Prosty system do zarządzania środkami trwałymi w niewielkim przedsiębiorstwie.</p>
    <p><a href="http://www.apator.com/pl/kontakt/dane-dla-kontrahentow/apator-rector-sp-z-o-o" class="btn btn-primary btn-lg">Strona AR &raquo;</a></p>
</div>