@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Wylogowano";
}

<hgroup>
    <h1 class="text-danger">Wylogowano.</h1>
    <h2 class="text-danger">Ten użytkownik został wylogowany.</h2>
</hgroup>
